<body>
    <% let total=0; let completed=0; %>
        <h1>type Of Diamond = <%= typeOfDiamond.typeOfDiamond %>
        </h1>
        <h1>price = <%= typeOfDiamond.price %>
        </h1>
        <h1><a href="/type-of-diamond/destroy/?id=<%=typeOfDiamond.id%>">Delete <%=typeOfDiamond.typeOfDiamond%></a></h1>
        <div>
            <h1>total Diamonds : <%=total%>
            </h1>
            <h1>total completed Diamonds : <%=completed%>
            </h1>
            <div>
                <form action="/entry/create" method="post">
                    <input type="number" name="noOfDiamonds" placeholder="enter number of diamonds" required>
                    <input type="hidden" name="typeOfDiamond" value="<%= typeOfDiamond._id%>" required>
                    <select name="status" required>
                        <option value="1"> completed</option>
                        <option value="0"> uncompleted</option>
                    </select>
                    <select name="employee" required>
                        <% for(employee of employees){ %>
                            <option value="<%= employee._id %>">
                                <%= employee.name%>
                            </option>
                            <% } %>
                    </select>

                    <input type="submit" value="add">
                </form>
            </div>

            <h1>Entries : </h1>
            <table border="1">
                <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>status</th>
                    <th>given diamonds</th>
                    <th>

                    </th>
                </tr>
                <% var i=1; %>
                    <% for(entry of entries){ %>
                        <tr>
                            <td>
                                <%=i %>
                                    <%i++;%>
                            </td>
                            <td style="margin-left: 10px;">
                                <%= entry.employee.name %>
                            </td>
                            <td style="margin-left: 10px;">
                                <%= entry.createdAt%>
                            </td>
                            <td style="margin-left: 10px;">
                                <%= entry.status %>
                                    <% if(entry.status){ completed +=entry.noOfDiamonds; } %>
                            </td>
                            <td style="margin-left: 10px;">
                                <%= entry.noOfDiamonds %>
                                    <% total +=entry.noOfDiamonds; %>
                            </td>
                            <td>
                                <a href="/entry/destroy/?id=<%= entry.id%>">delete</a>
                            </td>
                        </tr>
                        <% } %>
            </table>


        </div>


</body>