<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/header.css">


    <%- style %>

</head>

<body>
    <%- include('_header'); %>

        <main id="layout-main">
            <%- body %>

        </main>


        <%- include('_footer'); %>
        
        <%- script %>
</body>

</html>