<link rel="stylesheet" href="/css/user_profile.css">

<h1>Profile Page</h1>
<div id="container">
    <p id="name">Name: <%= user.name %>
    </p>
    <p id="email">Email: <%= user.email %>
    </p>
    <h1 id="link"><a id="link2" href="/user/destroy/?id=<%=user.id%>">Delete your account</a></h1>
    <form action="/user/update/?id=<%=user.id%>" method="post">
        <input type="text" name="name" value="<%= user.name %>">
        <input type="email" name="email" value="<%= user.email %>">
        <input type="submit" onclick="validationFun()" value="Update">
    </form>
</div>